.cart-page{
    display: flex;
    flex-wrap: wrap;
    background-image: url("./components/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    max-height: 85vh;
    min-height: 85vh;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart-card {
    background-color:#fcf1cc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1vh;
    width: 30vw;
    height: 12vh;
    padding-left: 2vw;
    padding-top: 1vw;
    /* background-color: 	#e5ecff; */
    /* justify-content: space-around; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.cart-image {
    height: 8vh;
    width: 150px;
    image-rendering: -webkit-optimize-contrast;
    object-fit: scale-down;
}

.remove-button {
        width: fit-content;
        background-color: var(--yellow);
        padding: 4px;
        border-radius: 10%;
        text-decoration: none;
        border: 2px solid black;
        color: black;
        margin: 2px;
        font-size: 24px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.place-order {
    width: fit-content;
    background-color: var(--yellow);
    padding: 20px;
    border-radius: 10%;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    margin: 1vh;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.place-order:hover {
    background-color: #4dacb4;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #b18b0c;
    cursor: pointer;
}

.cart-info {
    font-size: 20pt;
}

.cart-buttons {
    align-content: center;
}

.product-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}