.homepage {
  /* background-color: #f5f5dc; */
  min-height: 85vh;
}

.hometitle {
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: black;
  letter-spacing: 5px;
  text-shadow: #e1b10f 3px 3px;
}

.homesub {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
}

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
}

.homeTiles {
  display: flex;
  align-content: space-around;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 796px;
  gap: 20px;
}

.singleTile {
  display: flex;
  border-style: outset;
  border-width: 10px;
  border-color: #e1b10f;
}
