.homepage {
  background-color: #f5f5dc;
  min-height: 85vh
}

.hometitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e1b10f;
  background-color: beige;
}

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
}

.homeTiles {
  display: flex;
  align-content: space-around;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 796px;
  gap: 20px;
}

.singleTile {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #e1b10f;
}