.loginPage {
    height: 85vh;
    background-color: beige;
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    border: 1px solid #303036;
    background-image: url("./components/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    min-width: 40vw;
    gap: .5vh
}

.password {
    border: 2px solid #303036;
}

.email {
    border: 2px solid #303036;
}

.to-register {
    width: 450px;
    height: 30px;
}

.no-account {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcome-back {
        text-align: center;
        font-size: 50pt;
}

.login-to {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20pt;
        width: 40vw;
        text-align: center;
}