@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Ranchers&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.loginPage {
  height: 85vh;
  background-image: url("./components/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.loginForm {
  display: flex;
  flex-direction: column;
  background-color: beige;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  border: 1px solid #303036;
  height: 48vh;
  min-width: 40vw;
  gap: 0.5vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-sub {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 10px;
}

.login-links {
  background-color: var(--yellow);
  padding: 7px;
  border-radius: 10%;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-info {
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
  font-family: helvetica;
}

.to-register {
  width: 450px;
  height: 30px;
}

.no-account {
  font-family: Helvetica;
  padding: 10px;
}

.welcome-back {
  text-align: center;
  font-size: 50pt;
  text-shadow: #e1b10f 3px 3px;
}

.login-to {
  font-size: 20pt;
  width: 40vw;
  text-align: center;
}
