@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Ranchers&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --teal: #4dacb4;
  --blue: #064a5a;
  --pink: #fb9ab6;
  --orange: #f4473a;
  --yellow: #e1b10f;
  --navy: #2e465e;
}

* {
  box-sizing: border-box;
  margin: 2px;
  font-family: "Chicle";
}

/* NavBar styles */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url("./components/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15vh;
  max-height: 15vh;
}

.nav-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  align-content: space-between;
  gap: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.navlinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  /* width: fit-content; */
  background-color: var(--yellow);
  /* padding: 5px; */
  border-radius: 10%;
  text-decoration: none;
  border: 2px solid black;
  color: black;
}

.navlinks:hover {
  cursor: pointer;
  background-color: white;
}

@media only screen and (max-width: 1060px) {
  .navlinks {
      display: none;
  }
  .navbar {
    flex-direction: column;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin-bottom: 20px;
}

.cart-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  font-size: 18px;
}

.view-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.login-links {
  background-color: var(--yellow);
  padding: 5px;
  border-radius: 10%;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  font-size: 20px;
}

.login-links:hover {
  cursor: pointer;
  background-color: white;
}

.material-icons {
  text-decoration: none;
}

.logoDiv {
  display: flex;
  align-items: center;
}

.logo {
  /* flex: 1; */
  height: 137px;
  width: 225px;
}

/* Search Bar components */

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  width: 200px;
  height: 30px;
}

.search-button {
  width: fit-content;
  background-color: var(--yellow);
  padding: 5px;
  border-radius: 10%;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  font-size: 20px;
}

.logoDiv, .right-nav, .search-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
}
