@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Ranchers&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --teal: #4dacb4;
  --blue: #064a5a;
  --pink: #fb9ab6;
  --orange: #f4473a;
  --yellow: #e1b10f;
  --navy: #2e465e;
}

* {
  box-sizing: border-box;
  margin: 2px;
  font-family: "Chicle";
}

/* NavBar styles */

.navbar {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
  height: 15vh;
  max-height: 15vh;
}

.nav-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  align-content: space-between;
  gap: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  min-height: 7vh;
  max-height: 7vh;
}

.navlinks, .utility-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  /* width: fit-content; */
  background-color: var(--yellow);
  padding: 7px;
  border-radius: 10%;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  margin: 2px;
  font-size: 20px;
}

.navlinks:hover, .utility-links:hover {
  cursor: pointer;
  background-color: #f4473a;
}

@media only screen and (max-width: 1060px) {
  .navlinks {
      display: none;
  }
  .navbar {
    flex-direction: column;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

.right-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}

.cart-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  font-size: 25px;
}

.view-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.login-links:hover {
  cursor: pointer;
  background-color: white;
}

.material-icons {
  text-decoration: none;
}

/* .logoDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
} */

.logo {
  height: 137px;
  width: 225px;
}

/* Search Bar components */

.search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-label {
  font-size: 25px;
}

input {
  width: 200px;
  height: 30px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* .logoDiv, .right-nav, .search-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
} */

.top-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  grid-gap: 10px;
  align-items: center;
  min-height: 8vh;
  max-height: 8vh;
}

.bottom-bar, .nav-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
}

/* .search-components {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */

.right-nav-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}

fieldset {
  display: flex;
  flex-direction: row;
}