@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Ranchers&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --teal: #4dacb4;
  --blue: #064a5a;
  --pink: #fb9ab6;
  --orange: #f4473a;
  --yellow: #e1b10f;
  --navy: #2e465e;
}

* {
  box-sizing: border-box;
  margin: 2px;
  font-family: "Chicle";
}

/* NavBar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 15vh;
}

.nav-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  align-content: space-between;
  gap: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.navlinks {
  width: fit-content;
  background-color: var(--yellow);
  padding: 7px;
  border-radius: 10%;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  margin: 2px;
  font-size: 20px;
}

.navlinks:hover {
  cursor: pointer;
  background-color: #f4473a;
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin-bottom: 20px;
}

.cart-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  font-size: 25px;
}

.view-cart {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.login-links:hover {
  cursor: pointer;
  background-color: white;
}

.material-icons {
  text-decoration: none;
}

.logoDiv {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
  height: 137px;
  width: 225px;
}

/* Search Bar components */

.search {
  display: flex;
  justify-content: space-between;
}

.search-label {
  font-size: 25px;
}

input {
  width: 450px;
  height: 30px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
