:root {
    --teal: #4dacb4;
    --blue: #064a5a;
    --pink: #fb9ab6;
    --orange: #f4473a;
    --yellow: #e1b10f;
    --navy: #2e465e;
  }

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Chicle";
}

.product-container {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--orange);
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw;
    width: 400px;
    background-color: var(--teal);
    justify-content: center;
}

.price {
    font-size:16pt;
    text-align: end;
    /* margin-right: 20px; */
}

.product-image {
    height: 300px;
    width: 300px;
    image-rendering: -webkit-optimize-contrast;
    object-fit:scale-down;
    
}

.product-name {
    background-color: var(--yellow);
    margin: 0px;
    text-align: center;
    font-size: 22pt;
    width: 400px;
}

.product-buttons {
    display: flex;
    background: var(--yellow);
    margin: 0%;
    padding: 5px;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}

.details-button {
    padding: 2px;
    font-size: 16pt;
}

.add-to-cart-button {
    padding: 2px;
    margin-right: 5vw;
    font-size: 16pt;
}

.product-title {
    background-color: var(--orange);
    text-align: center;
    font-size: 40pt;
}