.single-product-container {
  background-image: url("./components/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  min-height: 85vh;
}

.single-product-detials-card {
  display: flex;
  flex-wrap: wrap;
}

.single-product-name {
  text-align: center;
  font-size: 50pt;
}

.single-product-description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20pt;
  width: 40vw;
  background-color:#fcf1cc;
  padding: 2vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.single-product-image {
  height: 50vh;
  width: 40vw;
  image-rendering: -webkit-optimize-contrast;
  object-fit: scale-down;
}

.single-price {
  font-size: 30pt;
}

.price-cart-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
}

.img-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-condition {
  font-size: 30pt;
}

.add-to-cart-button {
  width: fit-content;
  background-color: var(--yellow);
  padding: 7px;
  border-radius: 10%;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  margin: 2px;
  font-size: 26px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.add-to-cart-button:hover{
  background-color: #4dacb4;
  cursor: pointer;
}