:root {
  --teal: #4dacb4;
  --blue: #064a5a;
  --pink: #fb9ab6;
  --orange: #f4473a;
  --yellow: #e1b10f;
  --navy: #2e465e;
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Chicle";
}

.product-page {
  display: flex;
  background-image: url("./components/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  max-height: 85vh;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-container {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
  width: 75vw;
  /* background-color: beige; */
}

.product-card {
  background-color: #fcf1cc;
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
  width: 400px;
  height: 400px;
  /* background-color: 	#e5ecff; */
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.price {
  font-size: 16pt;
  text-align: end;
}

.product-image {
  height: 300px;
  width: 300px;
  image-rendering: -webkit-optimize-contrast;
  object-fit: scale-down;
  cursor: pointer;
}

.product-name {
  background-color: var(--yellow);
  margin: 0px;
  text-align: center;
  font-size: 22pt;
  width: 400px;
  cursor: pointer;
  min-height: 72px;
}

.product-buttons {
  display: flex;
  background: var(--yellow);
  margin: 0%;
  padding: 5px;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}

.details-button {
  width: fit-content;
  background-color: var(--orange);
  padding: 7px;
  border-radius: 10%;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  margin: 2px;
  font-size: 20px;
  cursor: pointer;
}

.add-to-cart-button {
  padding: 2px;
  margin-right: 5vw;
  font-size: 24pt;
  cursor: pointer;
}

.product-title {
  text-align: center;
  font-size: 50pt;
  height: 5vh;
  align-content: flex-end;
  text-shadow: #e1b10f 3px 3px;
}

.title-div {
  padding: 15px;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: slategray;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkslategray;
}

::-webkit-scrollbar-track-piece {
  background-color: #a8bbbf;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.details-button:hover{
  background-color: #4dacb4;
}