.single-product-container {
    background-color: beige;
    min-height: 85vh;
}

.single-product-detials-card {
    display: flex;
    flex-wrap: wrap;
}

.single-product-name {
    text-align: center;
    font-size: 50pt;
}

.single-product-description {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
    width: 40vw;
}

.single-product-image {
    height: 50vh;
    width: 40vw;
    image-rendering: -webkit-optimize-contrast;
    object-fit:scale-down;
}

.single-price {
    font-size: 24pt;
}

.price-cart-box {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.img-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-condition {
    font-size: 24pt;
}